# Browser-safe:
NEXT_PUBLIC_SUPABASE_URL=https://djwartbmusoiiafuirun.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RQRsl_wuUin2ohUWsjp5Bw_NLfNu6IA

# Server-only:
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqd2FydGJtdXNvaWlhZnVpcnVuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTgxOTY2NiwiZXhwIjoyMDk1Mzk1NjY2fQ.ei3JXy6Oi9-li32YwM_chZU7KVZWjTZ91WhDIzjdeoY
DEEPSEEK_API_KEY=sk-ab81ac1d3d3f4ead93d33efb0aa6a2b6
